DirectoryIndex home.xhtml


ErrorDocument 400 /thecentersurry/public_html/error.xhtml
ErrorDocument 404 /thecentersurry/public_html/error.xhtml


Redirect /about /thecentersurry/public_html/about.xhtml
Redirect /contact /thecentersurry/public_html/contact.xhtml
Redirect /events /thecentersurry/public_html/events.xhtml
Redirect /links /thecentersurry/public_html/links.xhtml
Redirect /menu /thecentersurry/public_html/menu.xhtml
Redirect /mobile /thecentersurry/mobile/home.xhtml
Redirect /updates /thecentersurry/public_html/updates.xhtml
Redirect /portal /thecentersurry/public_html/portal.xhtml


